.loginForm {
   width: 20rem;
   padding: 2rem;
}

.warningMassange {
   padding: 0.3rem;
   background-color: rgb(243, 118, 87);
   color: black;
   font-family: 'Times New Roman', Times, serif;
   border-radius: inherit;
   text-align: center;
}
