.ItemFilter {
    width: 345px;
    height: 556px;
    background-color: #F8F8F8;
    padding: 47px 34px 178px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}

.headerText {
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}